@model RegisterViewModel
@{
	Layout = "_AccountLayout.cshtml";
}

<ul class="nav nav-pills">
	<li class="active"><a href="#" data-toggle="tab">Register</a></li>
	<li><a href="@Url.Content("~/account/login")">Login</a></li>
</ul>
<div class="tab-content">
	<div id="register" class="tab-pane active">
		<form role="form" action="@Url.Content("~/account/register")" method="post" name="register-form" id="register-form">
			<div class="form-group">
				<label for="email">Email address</label>
				<input type="email" class="form-control" name="email"  value="@Model.EMail" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" name="username" value="@Model.UserName" placeholder="Enter Username">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="confirmPassword">Confirm Password</label>
				<input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password">
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"  @Model.TermsAgreed? "checked=""checked""":"" name="termsAgreed"> I agree to <a href="#">Terms &amp; Conditions</a>.
				</label>

				<button type="submit" class="btn btn-default btn-primary pull-right">Submit</button>
			</div>
		</form>
	</div>
</div>
